/*
	@name frame_1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 9516px; width: 9516px; height: 4435px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_frame_1_ek1 {
	top: 0px;
	left: 0px;
	width: 9516px;
	height: 4435px;
}

#_bg__frame_1_ek2 {
	top: 0px;
	left: 0px;
	width: 9516px;
	height: 4435px;
	background:rgba(255,255,255,1);
}


#image_59 {
	top: 0px;
	left: 0px;
	width: 9512px;
	height: 4424px;
}


#____________2022_12_21______3_20_1 {
	top: 0px;
	left: 4px;
	width: 1416px;
	height: 413px;
}


#rectangle_14 {
	top: 11px;
	left: 1420px;
	width: 8096px;
	height: 413px;
}


#_____ {
	top: 153px;
	left: 1765px;
	width: 609px;
	height: 202px;
	overflow: hidden;
	font-family: Inter;
	font-size: 128px;
	text-align: left;
	color:#FFFFFF;
}


#______ek1 {
	top: 153px;
	left: 2713px;
	width: 707px;
	height: 202px;
	overflow: hidden;
	font-family: Inter;
	font-size: 128px;
	text-align: left;
	color:#FFFFFF;
}


#______ {
	top: 159px;
	left: 3653px;
	width: 725px;
	height: 255px;
	overflow: hidden;
	font-family: Inter;
	font-size: 128px;
	text-align: left;
	color:#FFFFFF;
}


#_______ek1 {
	top: 167px;
	left: 4716px;
	width: 837px;
	height: 247px;
	overflow: hidden;
	font-family: Inter;
	font-size: 128px;
	text-align: left;
	color:#FFFFFF;
}


#____ {
	top: 170px;
	left: 5779px;
	width: 770.24px;
	height: 146.4px;
	overflow: hidden;
	
	-ms-transform:rotate(-0.52deg);
	-o-transform:rotate(-0.52deg);
	-webkit-transform:rotate(-0.52deg);
	-moz-transform:rotate(-0.52deg);
	transform:rotate(-0.52deg);
	font-family: Inter;
	font-size: 128px;
	text-align: left;
	color:#FFFFFF;
}


#______ek2 {
	top: 159px;
	left: 6685px;
	width: 676px;
	height: 220px;
	overflow: hidden;
	font-family: Inter;
	font-size: 128px;
	text-align: left;
	color:#FFFFFF;
}


#_______ek2 {
	top: 151px;
	left: 7699px;
	width: 742px;
	height: 176px;
	overflow: hidden;
	font-family: Inter;
	font-size: 128px;
	text-align: left;
	color:#FFFFFF;
}


#line_2 {
	top: 158px;
	left: 9113px;
	width: 242px;
	height: 20px;
	
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	transform:rotate(-180deg);
	background:#FFFFFF;
}


#line_4 {
	top: 255px;
	left: 9113px;
	width: 242px;
	height: 20px;
	
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	transform:rotate(-180deg);
	background:#FFFFFF;
}


#line_3 {
	top: 208px;
	left: 9113px;
	width: 242px;
	height: 20px;
	
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	transform:rotate(-180deg);
	background:#FFFFFF;
}


#____________2022_12_22_______10_49_1 {
	top: 88px;
	left: 8543px;
	width: 221px;
	height: 240px;
}


#kor {
	top: 198px;
	left: 8667px;
	width: 324px;
	height: 180px;
	overflow: hidden;
	font-family: Inter;
	font-size: 100px;
	text-align: left;
	color:#FFFFFF;
}



/* Add your custom CSS here */
